<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em" [formGroup]="form">
  <mat-checkbox formControlName="selectAll">Select all</mat-checkbox>
  <button mat-mini-fab color="white" [disabled]="!canClear" (click)="clear()">
    <mat-icon>clear</mat-icon>
  </button>
  <button mat-mini-fab color="primary" [disabled]="!canFilterBySelection" (click)="filterBySelection()">
    <mat-icon>filter_list</mat-icon>
  </button>
  <button mat-mini-fab color="primary" [disabled]="!canUnfilter" (click)="unfilter()">
    <mat-icon>filter_list_off</mat-icon>
  </button>
  <button mat-mini-fab color="warn" [disabled]="deleteDisabled">
    <mat-icon>delete</mat-icon>
  </button>
  <mat-form-field appearance="outline" fxFlex="1 1 auto">
    <input matInput autocomplete="off" placeholder="Search" formControlName="search"/>
  </mat-form-field>
</div>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3em">
  <div matSort (matSortChange)="sortChanged($event)"
    [matSortDisableClear]="true" matSortActive="createAt" matSortDirection="asc"
    fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
    <p mat-sort-header="createdAt">Date</p>
    <p mat-sort-header="name">Name</p>
    <p mat-sort-header="surname">Surname</p>
    <p mat-sort-header="email">Email</p>
  </div>
  <mat-paginator
    [hidePageSize]="true"
    [length]="count"
    [pageSize]="limit"
    (page)="pageChanged($event)">
  </mat-paginator>
</div>
